.navbar {
  background: transparent !important;
}

.segment-container {
  border: none !important;
}

.column-container {
  width: 50% !important;
}

.card-container {
  box-shadow: none !important;
}

.related-links {
  text-align: center;
  padding-bottom: 1rem;
}

.title {
  display: flex;
  justify-content: space-between;
  color: white;
}
